<template>
    <div>
        <div id="echarts" />
    </div>
</template>

<script>
import {drawChart} from '@/assets/js/echartsEvent'
export default {
    name: 'HelloWorld',
    data () {
        return {
            dataInput: {
                chartNum: 2,   //折线图数量
                title: {
                    text: '雨量流量关系图',
                    subtext: '数据来自西安兰特水电测控技术有限公司'
                },
                xAxisData: ['2017-12-21', '2017-12-22', '2017-12-23', '2017-12-24', '2017-12-25', '2017-12-26', '2017-12-27', '2017-12-28', '2017-12-29', '2017-12-30', '2017-12-31', '2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-06', '2018-01-07'], //x轴数据
                yAxisName: ['南通雨量图', '石家庄雨量图'],
                series: [
                    [
                        {
                            name: '南通A地区流量',
                            data: [1,2,3,4,5,6,7,5,3,9,12,4,2,4,6,3]
                        },
                        {
                            name: '南通B地区流量',
                            data: [7,6,5,4,3,2,1,8,2,14,3,2,14,5,20]
                        }
                    ],
                    [
                        {
                            name: '石家庄A地区降雨量',
                            data: [1,2,3,4,5,6,7,7,2,2,4,6,7,3,2,1]
                        },
                        {
                            name: '石家庄B地区降雨量',
                            data: [7,6,5,'',4,3,2,1,4,8,8,2,3,2]
                        }
                    ]
                ],
                event: [
                    [
                        {
                            title: '事件(1)',
                            date: '2017-12-22',
                            content: '内容1222',
                            url: 'http://echarts.baidu.com/demo.html#grid-multiple'
                        },
                        {
                            title: '事件(1)',
                            date: '2017-12-26',
                            content: '内容1226',
                            url: 'http://echarts.baidu.com/demo.html#grid-multiple'
                        },
                        {
                            title: '事件(3)',
                            date: '2017-12-27',
                            content: '内容1227',
                            url: 'http://echarts.baidu.com/demo.html#grid-multiple'
                        },
                        {
                            title: '事件(4)',
                            date: '2018-01-02',
                            content: '内容0102',
                            url: 'http://echarts.baidu.com/demo.html#grid-multiple'
                        }
                    ],
                    [
                        {
                            title: '事件(2)',
                            date: '2017-12-26',
                            content: '内容(1226)',
                            url: 'http://echarts.baidu.com/demo.html#grid-multiple'
                        },
                        {
                            title: '事件(2)',
                            date: '2017-12-22',
                            content: '内容(1222)',
                            url: 'http://echarts.baidu.com/demo.html#grid-multiple'
                        },
                        {
                            title: '事件(3)',
                            date: '2017-12-22',
                            content: '内容(1222)',
                            url: 'http://echarts.baidu.com/demo.html#grid-multiple'
                        },
                        {
                            title: '事件(4)',
                            date: '2017-12-24',
                            content: '内容(1224)',
                            url: 'http://echarts.baidu.com/demo.html#grid-multiple'
                        }
                    ]
                ]
            }
        }
    },
    mounted() {
        setTimeout(() => {
            drawChart(this.dataInput)
        }, 300)
    },
    methods: {
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#echarts {
    width: 1000px;
    margin: 20px auto;
}
</style>
